@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

:root {
  --very-blue: #6096b4;
  --blue: #93bfcf;
  --gray: #bdcdd6;
  --vanilla: #eee9da;

  --green: #27ae60;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

body {
  background-color: #f5f8fa;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

html {
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

.logo {
  color: var(--green);
  font-size: 1.5rem;
  font-weight: bolder;
  text-decoration: none;
}

.logo:hover {
  color: rgb(0, 200, 0);
  font-size: 1.5rem;
}

.dropdown-toggle {
  outline: 0;
}

.text-small {
  font-size: 85%;
}

.dropdown-menu.show {
  position: absolute;
  inset: 0px 0px auto auto;
  margin: 0px;
  transform: translate3d(0px, 34.4px, 0px);
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #27ae60!important;
}

.profile {
  border: solid 2px black;
}

.btn {
  font-size: 1.2rem;
}

@media (max-width: 444.98px) {
  .cart-top {
    /* display: block!important; */
    margin-bottom: 1rem!important;
  }
  
}

@media (max-width: 767.98px) {
  .item {
    row-gap: 1rem;
  }
}