 :root{
        --very-blue:#6096B4;
        --blue:#93BFCF;
        --gray:#BDCDD6;
        --vanilla:#EEE9DA;

        --green:#27ae60;
        --black:#192a56;
        --light-color:#666;
        --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}


body {
    background-color: #5a5a5a;
}

*{
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    letter-spacing: 1.5px;
    
}

header .logo {
    color: var(--black);
    font-size: 3rem;
    font-weight: bolder;
}

header  .logo i {
    color: var(--green);
}

header .icons i, header .icons a {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    background: #eee;
    border-radius: 50%;
}

header .icons i:hover, header .icons a:hover {
    color: #fff;
    background: var(--green);
}

/* 
@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    header{
        padding: 1rem 2rem;
    }
}

@media (max-width:768px) {

    header .navbar {
        position:absolute;
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
        border-top: .1rem solid var(--black);
        padding: 1rem;
    }

    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size:  2rem;
    }
}


